.buttonPrimary {
  height: 40px;
  border: 0;
  background-color: var(--green-900);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  color: var(--dark-700);

  transition: filter 0.2s;

  &[disabled] {
    cursor: not-allowed;
    svg {
      animation: animate 2s infinite;
    }
  }
  &:hover {
    filter: brightness(50%);
  }
  
  a {
    color: var(--dark-700);
  }
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
